<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class=page-heading>アポイント登録</h2>
        <%= render partial: "form", locals: { schedule: @appointment } %>
    </div>
  </div>
</div>